

html,body
{
	margin:0;
	padding:0;
	background: -moz-linear-gradient(left center, #266F8F, #266F8F);
	background: -webkit-gradient(linear, left center, right center, from(#266F8F), to(#266F8F));
	font-family: Ubuntu, sans-serif; 
}
@media screen {
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('Ubuntu-Regular.ttf') format('truetype');
}
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), local('Ubuntu-Regular'), url('Ubuntu-Regular.ttf') format('truetype');
}

.centerwrapper
{

	margin-left:auto;
	margin-right:auto;
	width:100%;
	border: 0px solid #242424;
}

.header
{
	height:100px;
	background-color:#1A5671;
	border-bottom:5px solid #565656;
}
.header img
{
	border:0px solid #fff;	
}

.logout
{
	margin-top:50px;
	float:right;
	color:#fff;
	padding-right:30px;
}
.logout a
{
	color:#fff;
	font-size::15pt;
}

.wrapper
{
	margin-left:auto;
	margin-right:auto;
	width:460px;
}
.container
{
	margin-top:100px;
	border: 5px solid #565656;
   -moz-border-radius:30px;
	background-color:#1A5671;

	
}

.container table
{
	font-size:14pt;
	font-weight:bold;
	margin-bottom:20px;
	text-align:center;
	color:#fff;
	
}

.container input
{
	
	height:35px;
	font-weight:bold;
	font-size:15pt;
	

}

.navbar
{
	
	margin-top:150px;
	margin-left:auto;
	margin-right:auto;
	border:0px solid #fff;
}
.navbar ul
{
	font-size:16pt;
	font-weight:bold;
	color:#fff;
	line-height:40px;
	
}
.navbar li
{
	list-style:none;
	float:left;
	margin-left:120px;
}
.navbar ul li a
{
	display:block;
	height:45px;
	border:0px solid #fff;
	color:#fff;
	text-decoration:none;
}

.admin img
{
border:0px;
}

.add table
{
	font-size:14pt;
	font-weight:bold;
	color:#fff;
}
.add select
{
-moz-border-radius:10px;
}
.delete table
{
	font-size:16pt;
	font-weight:bold;
	color:#fff;
}
.delete select
{
 -moz-border-radius:10px;
-webkit-border-radius:10px;
}
.update table
{
	font-size:16pt;
	font-weight:bold;
	color:#fff;
	
}
.update select
{
	border-radius:10px;
}

.right img
{
	border:0px;
	padding-left:10px;
}
.search 
{
	font-size:16pt;
	font-weight:bold;
	color:#fff;
	
}
.admin a:active
{
 text-decoration:none;
}
.admin a:visited
{
  text-decoration: none;
}

.navbarmain
{
	
	margin-top:150px;
	margin-left:250;
	
	border:0px solid #fff;
}
.navbarmain ul
{
	font-size:16pt;
	font-weight:bold;
	color:#fff;
	line-height:40px;
	
}
.navbarmain li
{
	list-style:none;
	float:left;
	margin-left:120px;
}
.navbarmain ul li a
{
	display:block;
	height:45px;
	border:0px solid #fff;
	color:#fff;
	text-decoration:none;
}
.adminmain  a :active
{
 text-decoration:none;
}
.adminmain  a:visited
{
  text-decoration:none;
}

.navcash
{
	
	margin-top:150px;
	margin-left:200;
	
	border:0px solid #fff;
}
.navcash ul
{
	font-size:16pt;
	font-weight:bold;
	color:#fff;
	line-height:40px;
	
}
.navcash li
{
	list-style:none;
	float:left;
	margin-left:120px;
}
.navcash ul li a
{
	display:block;
	height:45px;
	border:0px solid #fff;
	color:#fff;
	text-decoration:none;
}
.cashier a:active
{
 text-decoration:none;

}
.casheir a:visited
{
  text-decoration:none;
}




	/*** MASTER FORM WIDTHS - CUSTOMIZE THIS TO CHANGE THE FORM LAYOUT ***/

	/*
	form width:		550px
	left column:	190px / 180px + 10px padding
	mid column:		200px
	right column:	160px
	*/







	form label.error,
	form input.submit
		{
		margin-left:180px !important;
		}		

	form fieldset fieldset label.error
		{
		margin-left:0px !important;
		width:200px !important;
		}		

	

	form .centered{
		margin-left:180px !important;
		width:200px !important;
		}
	
	form .text, 
	form .button,
	form .group,
	form .control,
	form .submit,
	form textarea,
	form select
		{
		width: 200px !important;

		}
		



/*** FIELDSETS AND LEGENDS ***/

	form{
	width:450px;
	margin-bottom:25px;
	clear:both;
	
		}


	
	form fieldset.submit
		{
		padding: 0px 10px 10px 190px;
		border-style: none;
		
		background-color: transparent;
		background-image: none;
		
		float: none;
		width: auto;
		
		}
	

		
	form fieldset p{
 		margin:10px 0px 0px 10px;
 		}
	
/*** FORM BLOCKS ***/

	form ul
		{
		padding:5px 10px;
		list-style: none;
		}
	
	form li
		{
		width: 100%;
		
		padding:5px 0px 10px 0;
	/*	border-top:1px dotted #ccc;
		*/
		display:block;
		float: left;
		clear: left;
	}
	
	form li:first-child
		{
		border:none;
		}

	
/*** FORM BLOCK ELEMENTS ***/

	form label
		{
		padding:0px 10px;
		width: 160px;
		float: left;
		}
		
	form .error{
		color: #c00;
		}
		
	form label.error
		{
		color: #c00;
		font-family: Ubuntu, sans-serif; 
		font-size: 100%;
		font-weight: bold;
		font-variant:small-caps;
		
		width:308px;
		display: none;

		margin:8px 0px 0px 180px;
		padding:3px 0px 0px 5px;
		
		clear:both;
		}
		
	form label.info{
	    font-family: Ubuntu, sans-serif; 
		font-size: 100%;
		font-weight: bold;
		font-variant:small-caps;
		
		margin:8px 0px 0px 180px;
		padding:3px 0px 0px 5px;
		}

	form fieldset fieldset,
	form .group
		{
		width:200px;
		
		margin: 0;
		border:none;
		
		background:none;
		
		float:left;
		clear: none;
		
		}
		
	form fieldset fieldset label
		{
		width:auto !important;
		/*white-space:nowrap;*/
		padding:0px;
		margin:0px;
		display:block;
		clear:both;
		}
		
	form label label.error{
		margin-left:0px;
		}

	form label.centered{
		padding:0px 0px;
		width:200px !important;
		}
		
	/* see also the error class at the foot of the page */
	
	form fieldset fieldset label.spaced
		{
		margin-bottom:3px;
		}

/*** FORM ELEMENT COLUMNS ***/

	.col-1,
	fieldset fieldset.col-1 label
		{
		width:100%;
		}

	.col-2,
	fieldset fieldset.col-2 label
		{
		width:50%;
		}

	.col-3,
	fieldset fieldset.col-3 label
		{
		width:33%;
		}

	.col-4,
	fieldset fieldset.col-4 label
		{
		width:25%;
		}




/*** FORM ELEMENTS ***/

	form input.submit{
		margin:10px 0px 10px 180px;
		padding:0px 2px;
		}

	form input, textarea, select, 
	form label
		{
		font-size:1.1em;
		line-height:1.6em;
		}

	form input, textarea, select
		{
		font-family: Ubuntu, sans-serif; 
		}

	form .input[type="text"],
	form textarea
		{
		padding:1px;
		}
		
	form .input[type="radio"],
	form .input[type="checkbox"]
		{
		margin:0px;
		padding:0px;
		position:relative;
		top:3px;
		}
		
/*** SUPPORTING CLASSES ***/

	form label.required{
		background-image:url(images/required_star.gif);
		background-position:right;
		background-repeat:no-repeat;
		}
	
	form span.required{
		padding-right:15px;
		}
		
	form .clean
		{
		border:none;
		}
		
	form .info{
		padding-top:0.5em;
		font-size:80%;
		line-height:100%;
		color:#aaa;
		}
		
	form .indent{
 		padding:2px 20px; 
		width:auto !important;
		white-space:nowrap;
		padding-left: 25px !important;
 		}
		
	form label.disabled{
		color:#aaa;
		}
	
	form .highlight{
		background-color:#e2e2e2;
		}
	
	.off{
		display:none !important;
		}
		
	.clear{
		clear:both;
		}
		
	